{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-main contact">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Contact</h1>
            <p>Please wait 24hours for a response... If your enquiry is more urgent please call between 9am and 5pm GMT time on <a href="tel:{{ contact_info.phone }}">{{ contact_info.phone }}</a></p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group mb-1">
                    {{ form.name }}
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                </div>
                <div class="form-group mb-1">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                </div>
                <div class="form-group mb-1">
                    {{ form.message }}
                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}