{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="article-header  justify-content-center align-items-center ">
    <div class="col-sm-12 col-md-8 p-4">
        <h1 class="text-center resume-title">Kenneth Cox</h1>
        <p class="text-center resume-title-text">Junior Full Stack Software Developer</p>
        <img src="{% static 'images/backgrounds/pexels-snapwire-37728.jpg' %}" class="header-image"
            alt="Resume title background image">
    </div>
</header>
<div class="container container-body justify-content-center align-items-center ">
    <div class="row">
        <!-- Left-side-main -->
        <div class="left-side-main col-sm-12 col-md-4">
            <div class="profile-pic-container">
                <img src="https://avatars.githubusercontent.com/u/159484600?v=4" class="img-fluid profile-pic"
                    alt="Profile Picture of Kenneth Cox">
            </div>
            <div class="container-info contact-info">
                <h2 class="text-center">Contact</h2>
                <p>Phone: <a href="tel:{{ contact_info.phone }}">{{ contact_info.phone }}</a></p>
                <p>Email: <a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a></p>
                <p>Location: {{ contact_info.location }}</p>
            </div>
            <div class="container-info education-info">
                <h2 class="text-center">Education</h2>
                {% for edu in education_info %}
                <p>{{ edu.degree }}</p>
                <p>{{ edu.institution }}</p>
                {% endfor %}
            </div>
            <div class="container-info skills-info">
                <h2 class="text-center">Expertise</h2>
                {% for skill in expertise_info %}
                <p>{{ skill.skill }}</p>
                {% endfor %}
            </div>
            <div class="container-info language-info">
                <h2 class="text-center">Language</h2>
                {% for lang in language_info %}
                <p class="text-left">{{ lang.language }}</p>
                {% endfor %}
            </div>
        </div>
        <!-- right-side-main -->
        <div class="right-side-main col-sm-12 col-md-8">
            <div class="container-info aboutme-info">
                <h2 class="text-center">About Me</h2>
                <p class="text-center">{{ about_me_info.description | safe }}</p>
            </div>
            <div class="container-info projects-info">
                <h2 class="text-center">Projects</h2>
                <p><strong>Going Bananaz</strong> CI Hackathon (1) Start Date: 31/05/2024 lasting 3 days <a
                        target="_blank" href="https://github.com/Damitwhy/Going-Bananaz">GitHub Repo</a> <a
                        target="_blank" href="https://damitwhy.github.io/Going-Bananaz/">Deployment</a></p>
                <p><strong>The Epic Gambling Mavericks</strong> CI Hackathon (2) Start Date: 28/06/2024 lasting 3 days
                    <a target="_blank" href="https://github.com/kjrinuk/BlackJack">GitHub Repo</a> <a target="_blank"
                        href="https://kjrinuk.github.io/BlackJack/">Deployment</a></p>
                <p><strong>Hidden Artists</strong> CI Hackathon (3) Start Date: 15/08/2024 lasting 3 days <a
                        target="_blank" href="https://github.com/Damitwhy/Hidden-Brush">GitHub Repo</a> <a
                        target="_blank" href="https://hidden-brush-d91e531a264d.herokuapp.com/">Deployment</a></p>
                <p><strong>Whisky Drop Bootstrap</strong> Code Institute Project Start Date: 19/05/2024 lasting 5 days
                    <a target="_blank" href="https://github.com/Damitwhy/Whisky-Drop-Bootstrap">Github Repo</a> <a
                        target="_blank" href="https://damitwhy.github.io/Whisky-Drop-Bootstrap/">Deployment</a></p>
                <p><strong>NA-Share</strong> Capstone Project Start Date: 1/08/2024 lasting 14 days <a target="_blank"
                        href="https://github.com/Damitwhy/NA-Share">Github Repo</a> <a target="_blank"
                        href="https://na-share-b53b0f36b98a.herokuapp.com/">Deployment</a></p>
                <p><strong>Love Running</strong> Code Institute Project Start Date: 17/05/2024 lasting 5 days <a
                        target="_blank" href="https://github.com/Damitwhy/Love-to-Run_KEN_BC">Github Repo</a> <a
                        target="_blank"
                        href="https://love-to-run-ken-c0eel113g-inequitas-projects.vercel.app/">Deployment</a></p>
                <p><strong>Coders Coffee House</strong> Code Institute Project Start Date: 5/05/2024 lasting 5 days <a
                        target="_blank" href="https://github.com/Damitwhy/Coders-Coffee-House">Github Repo</a> <a
                        target="_blank" href="https://damitwhy.github.io/Coders-Coffee-House/">Deployment</a></p>
                <a href="{% url 'projects' %}">View More Detail</a>
            </div>
            <div class="container-info reference-info">
                <h2 class="text-center">References</h2>
                <div class="row">
                    {% for ref in references %}
                    <div class="reference-block col-6">
                        <h3>{{ ref.name }}</h3>
                        <p>{{ ref.relationship }}</p>
                        <p>Link to :<a href="{{ ref.contact }}" target="_blank">{{ ref.name }}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container-info recommendations-info">
                <h2 class="text-center">Recommendations</h2>
                <div class="row">
                    {% for recommendation in recommendations %}
                    <div class="recommendation-block col-sm-12 col-md-6">
                        <div class="inner-block">
                            <p>· {{ recommendation.connection_type }}<br>
                                {{ recommendation.education }}</p>
                            <p>{{ recommendation.date }}, {{ recommendation.relationship }}</p>
                            <p>
                                <span class="truncated-text">{{ recommendation.text }}</span>
                                <span class="full-text" style="display: none;">{{ recommendation.text }}</span>
                            </p>
                            <button class="toggle-btn" onclick="toggleText(this)">Read more</button>
                            <p>by <a target="_blank" href="{{ recommendation.contact_link }}">{{ recommendation.name }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                    <p><a target="_blank" href="https://www.linkedin.com/in/inequitas-kenneth-cox/details/recommendations/?detailScreenTabIndex=0">More Here!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}