{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="row">
    <div class="container-main-header">
        <div class="col-sm-12 col-md-8">
            <h1 class="text-center">Portfolio-Profile</h1>
        </div>
    </div>
    <div class="container-main">
        <div class="col-sm-12 col-md-8">
            <img src="{% static 'images/backgrounds/pexels-josh-hild-1270765-16248189.jpg' %}" class="img-fluid"
                alt="Home Image">
        </div>
    </div>
</div> -->
<div class="container justify-content-center align-items-center ">
    <article class="col-sm-12 text-center">
        <header class="article-header">
            <div class="header-content">
                <h1 class="article-title text-shadow">About Me</h1>
                <h3 class="article-subtitle">Junior Full Stack Software Developer</h3>
                <h2 class="article-h2">More than a CV</h2>
                <p class="article-subtitle">Welcome to my playground. Here you can find information about who I am, my
                    projects, and how to contact me.</p>
            </div>
            <img src="{% static 'images/backgrounds/pexels-d-ng-nhan-324384-1529881.jpg' %}" class="header-image"
                alt="Home Image">
        </header>

        <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione culpa sit, incidunt iste inventore dolores
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>
        <img src="{% static 'images/backgrounds/pexels-pixabay-458983.jpg' %}" class="img-fluid" alt="Home Image">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>
        <img src="{% static 'images/backgrounds/pexels-pixabay-206359.jpg' %}" class="img-fluid" alt="Home Image">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi laboriosam expedita eius
            sapiente
            eaque sed eveniet libero a corrupti vitae, alias error. Accusamus nostrum doloremque necessitatibus,
            corrupti
            unde
            aliquid!</p>

        <img src="{% static 'images/backgrounds/pexels-pixabay-416920.jpg' %}" class="img-fluid" alt="Home Image">

    </article>
</div>
{% endblock %}