{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="container-main-header-resume  justify-content-center align-items-center ">
    <div class="col-sm-12 col-md-8 p-4">
        <h1 class="text-center resume-title">Kenneth Cox</h1>
        <p class="text-center resume-title-text">Junior Full Stack Software Developer</p>
        <img src="{% static 'images/backgrounds/pexels-snapwire-37728.jpg' %}" class="header-image"
                    alt="Resume title background image">
    </div>
</header>
<div class="container container-body justify-content-center align-items-center ">
    <div class="row">
        <!-- Left-side-main -->
        <div class="left-side-main col-sm-12 col-md-4">
            <div class="profile-pic-container">
                <img src="https://avatars.githubusercontent.com/u/159484600?v=4" class="img-fluid profile-pic"
                    alt="Profile Picture of Kenneth Cox">
            </div>
            <div class="container-info contact-info">
                <h2 class="text-center">Contact</h2>
                <p>Phone:</p>
                <p>Email:</p>
                <p>location:</p>
            </div>
            <div class="container-info education-info">
                <h2 class="text-center">Education</h2>
                <p>Diploma: Full Stack Software Development with Code Institute.</p>
                <p>Open University: 1st Year of (BSc) Physics & Mathematics</p>
            </div>
            <div class="container-info skills-info">
                <h2 class="text-center">Expertise</h2>
                <p>Python</p>
                <p>Django</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>JavaScript</p>
                <p>React</p>
            </div>
            <div class="container-info language-info">
                <h2 class="text-center">Language</h2>
                <p class="text-left">English</p>
            </div>
        </div>
        <!-- right-side-main -->
        <div class="right-side-main col-sm-12 col-md-8">
            <div class="container-info aboutme-info">
                <h2 class="text-center">About Me</h2>
                <p class="text-center">Welcome to my playground. Here you can find information about who I am, my
                    projects,
                    and how to contact me.</p>
            </div>
            <div class="container-info projects-info">
                <h2 class="text-center">Projects</h2>
                <p>Project 1</p>
                <p>Project 2</p>
                <p>Project 3</p>
                <p>Project 4</p>
                <p>Project 5</p>
            </div>
            <div class="container-info reference-info">
                <h2 class="text-center">References</h2>
                <div class="row">
                    <div class="reference-block col-6">
                        <h3>Name Surname</h3>
                        <p>Company</p>
                        <p>Phone</p>
                        <p>Email</p>
                    </div>
                    <div class="reference-block col-6">
                        <h3>Name Surname</h3>
                        <p>Company</p>
                        <p>Phone</p>
                        <p>Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}