{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="image-detail-container">
    <div class="image-box">
        <div class="image-container">
            <img src="{{ image_url }}" alt="Image {{ image_id }}">
        </div>
              
        <div class="comments">
            <h2>Comments</h2>
            {% for comment in comments %}
                <div class="comment">
                    <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
                    <p><em>{{ comment.created_at }}</em></p>
                    {% if comment.user == user %}
                        <a href="{% url 'edit_comment' comment.id %}" class="btn btn-outline-dark btn-sm"><i class="fa-regular fa-edit"></i></a>
                        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <div class="comment-form">
            <h2>Leave a Comment</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group image-detail-comment">
                    <label for="{{ form.text.id_for_label }}">Comment</label>
                    {{ form.text }}
                </div>
                <button type="submit" class="button btn btn-outline-dark">Submit</button>
                
            </form>
            <a href="{% url 'gallery' %}" class="mx-3 my-2 button btn btn-outline-dark">Back</a>
        </div>
        {% else %}
        <div class="comment-form">
            <h2>Leave a Comment</h2>    
            <p>You must be logged in to leave a comment. <a href="{% url 'login' %}">Login</a></p>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}