{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="logout-container">
    <div class="logout-box">
        <a class="backbtn" href="{% url 'home' %}">Go Back</a>

        <form method="post">
            {% csrf_token %}
            <p class="logout-message">Are you sure you want to logout?</p>
            <input class="button btn btn-outline-dark logoutbtn" type="submit" value="Logout"/>
            
        </form>
        <a href="{% url 'gallery' %}" class="mx-3 my-2 button btn btn-outline-dark">Back</a>
    </div>
</div>

{% endblock content %}
