{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container justify-content-center align-items-center ">
    <div class="container-info">
        <h2 class="text-center">Hackathons</h2>
        <ul dir="auto">
            <li>
                <p dir="auto"><strong>Going Bananaz</strong> CI Hackathon (1) Start Date: 31/05/2024 lasting 3 days</p>
                <ul dir="auto">
                    <li>Project:
                        <ul dir="auto">
                            <li>Title: <strong>Celebrating Diversity</strong></li>
                            <li>Description: Celebrating Diversity, a platform dedicated to fostering inclusivity and
                                understanding by highlighting the diverse experiences and perspectives of people from
                                all walks of life.<br>
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://github.com/Damitwhy/Going-Bananaz/raw/main/assets/readme-img/Readme-responsive.png"><img
                                        src="https://github.com/Damitwhy/Going-Bananaz/raw/main/assets/readme-img/Readme-responsive.png"
                                        alt="Celebrating Diversity Am I responsive Page" style="max-width: 100%;"></a>
                            </li>
                        </ul>
                    </li>
                    <li>Deployments:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/Damitwhy/Going-Bananaz">Going Bananaz GitHub Repo</a></li>
                            <li><a target="_blank" href="https://damitwhy.github.io/Going-Bananaz/" rel="nofollow">Going Bananaz
                                    Deployment</a></li>
                        </ul>
                    </li>
                    <li>Collaborators:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/Damitwhy">Kenneth Cox</a> - Team Lead</li>
                            <li><a target="_blank" href="https://github.com/henrybennett94">Henry Bennett</a></li>
                            <li><a target="_blank" href="https://github.com/Spencily">Hannah Eves</a></li>
                            <li><a target="_blank" href="https://github.com/juanchitopimo">Juan Moreno</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <p dir="auto"><strong>The Epic Gambling Mavericks</strong> CI Hackathon (2) Start Date: 28/06/2024
                    lasting 3 days</p>
                <ul dir="auto">
                    <li>Project:
                        <ul dir="auto">
                            <li>Title: <strong>BlackJack</strong></li>
                            <li>Description: A Java Script based application for user interaction, we chose the game
                                BlackJack as our challenge and built the game from scratch and added functionality
                                throughout.
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://github.com/Damitwhy/BlackJack/raw/main/assets/images/amiresponsive.png"><img
                                        src="https://github.com/Damitwhy/BlackJack/raw/main/assets/images/amiresponsive.png"
                                        alt="Gambling Mavericks BlackJack Table" style="max-width: 100%;"></a></li>
                        </ul>
                    </li>
                    <li>Deployments:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/kjrinuk/BlackJack">Gambling Mavericks Repo</a></li>
                            <li><a target="_blank" href="https://kjrinuk.github.io/BlackJack/" rel="nofollow">Gambling Mavericks
                                    Deployment</a></li>
                        </ul>
                    </li>
                    <li>Collaborators:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/kjrinuk">Keith Richards</a> - Team Lead</li>
                            <li><a target="_blank" href="https://github.com/Damitwhy">Kenneth Cox</a></li>
                            <li><a target="_blank" href="https://github.com/ErfanNajimi">Erfan Najimi</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <p dir="auto"><strong>Hidden Artists</strong> CI Hackathon (3) Start Date: 15/08/2024 lasting 3 days</p>
                <ul dir="auto">
                    <li>Project:
                        <ul dir="auto">
                            <li>Title: <strong>Hidden Brush</strong></li>
                            <li>Description: an art gallery web application where users can upload, view, like, comment
                                on, update, and delete artwork. Built using Django, Python, JavaScript, HTML, and CSS,
                                this project showcases features such as user authentication, image management, and an
                                interactive gallery experience.<br>
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://github.com/Damitwhy/Hidden-Brush/raw/main/static/images/am-i-responsive.png"><img
                                        src="https://github.com/Damitwhy/Hidden-Brush/raw/main/static/images/am-i-responsive.png"
                                        alt="Hidden Brush Am I responsive Page" style="max-width: 100%;"></a></li>
                        </ul>
                    </li>
                    <li>Deployments:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/Damitwhy/Hidden-Brush">Hidden Brush GitHub Repo</a></li>
                            <li><a target="_blank" href="https://hidden-brush-d91e531a264d.herokuapp.com/" rel="nofollow">Hidden Brush
                                    Deployment</a></li>
                        </ul>
                    </li>
                    <li>Collaborators:
                        <ul dir="auto">
                            <li><a target="_blank" href="https://github.com/Damitwhy">Kenneth Cox</a> - Team Lead</li>
                            <li><a target="_blank" href="https://github.com/henrybennett94">Henry Bennett</a></li>
                            <li><a target="_blank" href="https://github.com/AshwiniTembhurne">Ashwini Tembhurne</a></li>
                            <li><a target="_blank" href="https://github.com/Aofficial0">Ahmed Mohamed</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}