

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/backgrounds/pexels-ritesh-singh-64833387-14570124.25a7a6ba6ed5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 5px;

}

.container-main img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* pacifico font */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
 /* Roboto font */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; 
  padding-top: 50px; 
  padding-bottom: 50px; 
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.backbtn {
  display: block;
  margin-bottom: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.backbtn:hover {
  text-decoration: underline;
}

.button {
  border-radius: 25%;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Full height to center the content */
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.image-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the content is centered vertically */
  padding-top: 50px; /* Adds space at the top */
  padding-bottom: 50px; /* Adds space at the bottom */
}

.image-box {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.messages {
  text-align: center;
  list-style-type: none;
  padding: 0;
  opacity: 1;
  transition: opacity 0.6s ease-in;
  animation: fadeOut 6s forwards;
}

/* Keyframes to fade out the alert */
@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  /* Start fully visible */
  50% {
      opacity: 1;
  }

  90% {
      opacity: 0.2;
  }

  /* Gradually fade out */
  100% {
      display: none;
      opacity: 0;
  }

  /* Hide it after fade */
}

.messages li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.messages .debug {
  background-color: #e7e7e7;
  color: #333;
}

.messages .info {
  background-color: #d9edf7;
  color: #31708f;
}

.messages .success {
  background-color: #dff0d8;
  color: #3c763d;
}

.messages .warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.messages .error {
  background-color: #f2dede;
  color: #a94442;
}

@media (max-width: 768px) {
  .topic {
      
      text-align: center;
  }
}
@media (max-width: 576px) {
  .topic {
      
      text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .topic {
    margin 0;
  }
}

@media screen and (max-width: 810px) {
  .topic {
    margin 0;
  }
}

@media screen and (max-width: 767px) {
  .topic {
    margin 0;
  }
}

/* Force the styles to apply using !important */
.custom-login-button {
  width: 100% !important;
  padding: 10px !important;
  border-radius: 25px !important;
  border: 1px solid gray !important;
  background-color: transparent !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  font-size: 16px !important;
  text-align: center !important;
}

.custom-login-button:hover {
  color: white !important;
  background-color: #292929 !important;
}
